doctype 5
html
  head
    // Hi, my name is....
    title Victor Lourng
    // Encoding
    meta(charset='utf-8')
    // For all the mobile users, of course :)
    meta(name='viewport' content='width=device-width,initial-scale=1.0,minimum-scale = 1.0,maximum-scale=1.0,user-scalable=no')
    // SEO Tags for GOOGLE BING YAHOOOOOO DUCKS
    meta(name='keywords' content='Victor Lourng, Creative, Student, Enginner, Philadelphia, Pennsylvania')
    meta(name='description' content='I am a sound chemist, color flavorist & a pure asian geek. When I’m not playing with my mouse, I’m inspiring and leading the way for innovation and great ideas.')
    // Share plz :P
    meta(property='og:type' content='website')
    meta(property='og:title' content='Victor Lourng')
    meta(name='og:description' content='I am a sound chemist, color flavorist & a pure asian geek. When I’m not playing with my mouse, I’m inspiring and leading the way for innovation and great ideas.')
    meta(property='og:url' content='http://victorlourng.com/')
    meta(property='og:image' content='shutter/ava-coolio.png')
    meta(property='og:site_name' content='Victor Lourng')
    // Welcome home, robots! <3
    // -> content='noindex,nofollow'
    meta(name='robots' content='allow')
    // Icons Icons Icons! (I wish Steve Ballmer said that...)
    link(rel='shortcut icon' href='favicon.ico')
    link(rel='apple-touch-icon' content='apple-touch-icon.png')
    meta(name='msapplication-navbutton-color' content='#672F89')
    meta(name='msapplication-tooltip' content='Victor Lourng')
    meta(name='msapplication-TileColor' content='#672F89')
    meta(name='msapplication-TileImage' content='apple-touch-icon.png')
    // I am a web app, Apple!
    meta(name='apple-mobile-web-app-capable' content='yes')
    // Web app status bars have changed in iOS7
    // -> TODO: Add fixed top bar and body padding if user agent matches iOS
    meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
    // Styles
    link(rel='stylesheet' href='design/home.css')
    // CDN Whatever
    // script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.js')
    // Serious Magic
    script(src='magic/jquery-1.11.0-beta-3.js')
    // Mixpanel
    script(type='text/javascript') (function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.reateElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);mixpanel.init("6b5604b5557d245fbf8a87956bbdfe8b");
    // Google Analytics
    script(type='text/javacsript') var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-33381009-1']); _gaq.push(['_trackPageview']);(function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();
    script(src='magic/home-ck.js')

block content